
/* *************************** */
/* Common Section */
/* *************************** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

html {
  /* 10px/ 16px = 0.625 = 62.5% */
  /*  % of user browser font-size setting */
  font-size: 62.5%;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
  grid-template-columns: 1fr 1fr 2fr;
}

.grid--center-v {
  align-items: center;
}

.grid--4-cols{
  grid-template-columns: repeat(4, 1fr);
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.profile-img{
  width: 13rem;
  height: 13rem;
}


/* *************************** */
/* Nav Section */
/* *************************** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 4.8rem;
}

.main-nav-logo:link,
.main-nav-logo:visited {
  text-decoration: none;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border: 1px solid #3dae6d;
  color: #333;
  border-radius: 6px;
  font-size: 1.7rem;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #318b57;
  color: #fff;
}


/* *************************** */
/* Hero Section */
/* *************************** */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.hero-text-box {
  padding-right: 3rem;
}

.heading-primary {
  color: #333;
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: -0.5px;
}

.subheading {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
  margin-right: 1.6rem;
  letter-spacing: 0.75px;
}


.heading-secondary {
  color: #474747;
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 2.3rem;
}

.heading-primary,
.heading-secondary {
  line-height: 1.6;
}


.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 100;
  margin-bottom: 4.8rem;
  color: #858585;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  background-color: #3dae6d;
  padding: 1.6rem 6rem;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.3s;
  box-shadow: 0 3.4rem 4.8rem rgba(58, 58, 5, 0.134); 

}

.btn:hover,
.btn:active {
  background-color: #318b57;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.hero-img {
  width: 100%;
}


/* *************************** */
/* Company Section */
/* *************************** */

.section-company {
  padding: 3.6rem;
}

.heading-company {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
  padding-left: 3rem;
}

.logos img {
  height: 4.2rem;
  filter: brightness(0);
  opacity: 60%;
  display: block;
  transition: all 0.4s;
}

.logos img:hover{
  transform: scale(1.1);
  cursor: pointer;
}


/* *************************** */
/* About Section */
/* *************************** */

.section-about {
  padding: 9.6rem 0;
}

.about-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.about-img-box::before,
.about-img-box::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.about-img-box::before {
  width: 89%;
  height: 45%;
  padding-bottom: 60%;
  z-index: -1;
  background-color: #b2f2bb;
}

.about-img-box::after {
  width: 69%;
  height: 39%;
  padding-bottom: 45%;
  background-color: #8ce99a;
  z-index: -1;
}

.about-container{
  border-radius: 1.2rem;
  transition: all 0.3s;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #f4fce3;
  width: 24rem;
  height: 34rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.6rem;
}

/* Common Element */

.about-description {
  line-height: 1.8;
  font-size: 1.8rem;
}

.download-cv{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2.6rem;
}


.btn-resume {
  margin-top: 4.6rem;
}

.btn-resume:link,
.btn-resume:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #3dae6d;
  padding: 1.6rem 6rem;
  font-weight: 400;
  border-radius: 5px;
  transition: all 0.4s;
  box-shadow: 0 3.4rem 4.8rem rgba(58, 58, 5, 0.134); 
}

.btn-resume:hover,
.btn-resume:active {
  background-color: #3dae6d;
  color: #fff;
}

/* *************************** */
/* Work Section */
/* *************************** */
.section-work{
  padding: 6.6rem 0;
  background-color: #fdf2e9;
}


.grid-work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 3.2rem;
  column-gap: 1.2rem;
  padding: 0 7.4rem;
  /* margin-left: 18rem; */

}

.work-container{
  border-radius: 0.5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  background-color: #f8f9fa;
  max-width: 50rem;
  height: 25rem;
  gap: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  cursor: pointer;
  transition: all 0.3s;
}

/* .skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 4.2rem;
  
} */

.work-container:hover{
  transform: translate(-1.2rem, -2ex);
}


.heading-work{
  margin-bottom: 3.2rem;
  font-size: 2rem;
  font-weight: 500;
}

.work-description{
  font-size: 1.2rem;
  line-height: 2;
  font-weight: 400;
}

.grid--2-cols--work {
  grid-template-columns: 2fr 1fr;
  
}

/* *************************** */
/* Skills Section */
/* *************************** */
.section-skills{
  padding-bottom: 6.4rem;
  background-color: #fdf2e9;
}

.skill-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.4rem;
  margin-bottom: 4.2rem;
  
}

.skill{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  /* border: 1px solid black; */
  /* border-radius: 1.2rem; */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* background-color: #f4fce3; */
  background-color: #f8f9fa;;
  width: 22rem;
  height: 30rem;
  border: 50%;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.4s;
}


.skill:hover{
  background-color: #96f2d7;
  transform: scale(1.05);


  
}


.skill-title{
  font-size: 1.9rem;
  color: #333;
  font-weight: 400;
  margin-bottom: 1.6rem;

}

.skill-img{
  width: 8rem;
  height: 9rem;
  margin-top: 5.2rem;
  color: #555
}




.all-projects{
  text-align: center;
  font-size: 1.8rem;
  /* margin-bottom: 2.4rem; */
  padding-top: 3.4rem;

 

  
}

.link:link, .link:visited{
  text-decoration: none;
  color: #333;
  font-weight: 400;
  padding-bottom: 2px;
  transition: all 0.3s;
  /* border-bottom: 1px solid currentColor; */
}

.link:hover,
.link:active {
 color: #20c997;
  /* border-bottom: 0.5px solid transparent; */
}


.tools-heading{
  display: block;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;

}

.tool-carousel{
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background-color: #f4fce3; */
  background-color:  #f8f9fa;;
  position: relative;
  padding: 32px 48px ;
  gap: 4.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.tool-img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.tool-img{
  width: 7rem;
  height: 7rem;
  opacity: 80%;
  transition: all .3s;
}

.btn-tool{
  background-color: #96f2d7;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
}

.btn-icon{
  height: 24px;
  width: 24px;
}

.btn--left{
  right: -4%;
  transform: translate(-50%, -50%);
  
}

.btn--right{
  left: -4%;
  
  transform: translate(50%, -50%);
}

/* *************************** */
/* Contact Section */
/* *************************** */
.section-contact{
  padding: 6.6rem 0;
  /* background-color: #fdf2e9; */
}

.container-contact{
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}


.cta {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background-color: #fff;
  height: 55rem;
  background-color: #fdf2e9;
  
}

.cta-text-box{
  color: #45060a;
  padding: 4.8rem 6.4rem;
}

.cta-form{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
}

.heading-form {
  color: #474747;
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 6.4rem;
}


.cta-form label{
  display: block;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0.7rem;
}

.cta-form input, textarea{
  width: 35rem;
  padding: 1.5rem;
  border: none;
  background-color: #e9ecef;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #888;
}

.input--msg{
  padding: 4.2rem;
}

.btn-form{
  width: 20rem;
  padding: 1.2rem ;
  border: none;
  border-radius: 0.5rem;
  /* background-color: #ff6b6b; */
  background-color: #3dae6d;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 2.4rem;
}

.cta-img-box{
  /* margin: 2.2rem 2.2rem 2.2rem 4.5rem; */
  /* padding: 4.8rem 6.4rem; */
  background-image: linear-gradient(to right bottom, #20c997 , #63e6be);
  background-size: cover;
  background-position: center;
  /* max-width: 88rem; */
}

.sub-heading-form {
  color: #222;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 3.4rem;
  padding: 3.2rem;
}

.contact-attributes{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 4.4rem;
}


.contact-attribute{
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  color: #222;
}


.contact-icon{
  height: 2.4rem;
  width: 2.4rem;
  color: inherit;
}


/* *************************** */
/* Footer Section */
/* *************************** */

.footer{
  padding: 5rem 0;
  border-top: 1px solid #eee;
}

.grid--footer{
  grid-template-columns: 1fr 2fr 1fr;
}


.copyright{
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links{
  display: flex;
  gap: 2.8rem;
  list-style: none;
  justify-content: flex-end;
}

.social-icon{
  height: 3.4rem;
  width: 3.4rem;
}

.footer-link:link, .footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #555;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: black;
}

